<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kimjio.coral">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App">
        <activity android:name=".splat.activity.SplatActivity"></activity>
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/Theme.App.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.IntroActivity"
            android:theme="@style/Theme.App.Intro" />
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="auth" />
                <data android:scheme="npf71b963c1b7b6d119" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.WelcomeActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="com.nintendo.znca.OPEN_FROM_NOTIFICATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="open" />
                <data android:pathPattern="/.*" />
                <data android:scheme="lounge" />
            </intent-filter>
        </activity>
    </application>

</manifest>